@font-face {
    font-family: 'Airbnb Cereal App';
    src: url(../font/Airbnb-Cereal-App/AirbnbCerealBold.woff) format('woff');
}

.container-1 {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
.menu-1 {
    max-width: 100%;
    min-height: 600px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
    display: flex;
   flex-direction: column;
}
.menu-2 {
    max-width: 100%;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.list-1 {
    margin-right: 5px;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
}

.header .logo {
    margin-left: 50px;
    margin-top: 15px;
}
.header h2 {
    position: absolute;
    top: 15px;
    left: 120px;
    font-size: 50px;
    font-family: 'Airbnb Cereal App';
    letter-spacing: 5px;
}
.header .link {
    margin-right: 90px;
    margin-top: 20px;
}
.header .link a {
    width: 130px;
    height: 45px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    border: 1px solid #22a6b3;
    text-align: center;
    line-height: 45px;
    border-radius: 25px;
    background-color: #22a6b3;
    font-family: 'Airbnb Cereal App';
}
.header .link a:hover {
    background-color: #4bbac4;
}
.search a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #CACACA;
    width: 300px;
    height: 45px;
    position: absolute;
    left: 550px;
    top: 15px;
    border-radius: 20px;
}
.search {
    position: relative;
    top: -50px;
    left: 400px;
    font-family: 'Airbnb Cereal App';
}
.search [type="text"] {
    width: 490px;
    height: 43px;
    border-radius: 20px;
    font-size: 17px;
    padding-left: 80px;
    border: 1px solid #CACACA;
    font-family: 'Airbnb Cereal App';
}
.search img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 30px;
}
.content {
    background-image: url(../image/landing-page/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -80px 50px;
    height: 600px;
}
.content .judul h1 {
    text-align: center;
    margin-top: 300px;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Airbnb Cereal App';
}
.content .judul a {
    width: 170px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    margin-left: 600px;
    text-decoration: none;
    background-color: #b31313;
    border: 1px solid #ff5252;
    border-radius: 25px;
    color: #ffffff;
    font-family: 'Airbnb Cereal App';
}
.content .judul a:hover {
    background-color: #ff5252;
}

.list-1 {
    width: 190px;
    height: 300px;
    margin-left: 20px;
    margin-top: 25px;
}
.list-1 img {
    width: 170px;
    height: 220px;
}
.list-1 h2, .list-1 p {
    color: #ece1e1;
    font-family: 'Airbnb Cereal App';
    margin-top: 10px;
    text-align: center;
}
.list-1 h2 {
    font-size: 12px;
}

@media screen and (max-width:480px) {
    .container-1 {
        height: 1200px;
    }
    .header {
        height: 80px;
        width: 400px;
    }
    .content .judul h1 {
        margin-top: 180px;
    }
    .content .judul a {
        margin-top: 30px;
        margin-left: 100px;
    }
    .header .logo {
        margin-left: 10px;
        margin-top: 20px;
    }
    .header .link {
      margin-top: 20px;
      margin-left: 180px;
    }
    .header .logo img {
        width: 40px;
        height: 40px;
    }
    .header h2 {
        top: 25px;
        left: 60px;
        font-size: 30px;
    }
    .search {
      display: none;
    }
    .menu-2 .on {
        display: none;
    }
    .list-1 {
        width: 160px;
        height: 300px;
        margin-left: -9px;
        margin-top: 25px;
    }
}